# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript
dist/
*.tsbuildinfo

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*
*.gz

# Docker
docker-compose.override.yml
.dockerignore
postgres_data/

# Prisma
prisma/generated/
prisma/migrations/

# OS-specific files
.DS_Store
Thumbs.db

# Editor-specific files
.idea/
.vscode/
*.swp

# Coverage reports
coverage/
*.lcov
*.lcov.info
nyc_output/

# Test output
/.jest/cache/
/.jest/

# Optional npm cache
.npm/

# Optional eslint cache
.eslintcache

# Optional prettier cache
.prettiercache

# Optional lockfiles
package-lock.json
yarn.lock
pnpm-lock.yaml

# Miscellaneous
*.tgz
